  .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hks-custom-wrap {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    justify-content: space-between;
  }
  .nav_btns{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    column-gap: 20px;
  }

  .hks-back{
    font-weight: 500;
    font-size: 16px;
    border-radius: 19px;
    padding: 9px 35px;
  }

  .hks-clear{
    font-weight: 500;
    font-size: 16px;
    border-radius: 19px;
    padding: 9px 35px;
  }
  h2.hks_device_heading {
    margin-top: 0px;
    width: auto;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.27px;
    display: flex;
}
.hks-custom-wrap:hover {
  border-radius: 5px;
  /* background: #f8f5fa; */
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.current-opt{
  text-transform: uppercase;
  color: #63388c;
}
  .image-wrapper {
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .image_of_mobile {
    width: 100%;
    height: 260px;
    max-width: 260px; 
  }
  
  .options-wrapper {
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
  }
  .image_and_options{
      display: flex;
  }

  .hks_select_view{
    width: 100%;
  }

  .product-info-wrap{
    display: flex;
    justify-content: center;
  }


  .img-wrap{
    display: flex;
    width: 45%;
    justify-content: center;
  }

  .options_wrapper{
    padding: 0px 0px 0px 40px;
    border-left: 1px solid #77529c;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.hks-options{
  column-gap: 11px;
  display: flex;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hks-select-options{
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid #c9c9c9;
  padding: 10px 25px;
  font-weight: 600;

  background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%) right;
  background-size: 200%;
  transition: .4s ease-out;
}
.hks-select-options:hover{
  background-position: left;
  color: #fff;
}
.hks_item_title{
   text-align: center;
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}


@media (max-width: 1024px) {
  

  .image_of_mobile {
      width: 100%;
      max-width: 300px;
      height: 300px;
  }
  .hks-custom-wrap {

    max-width: 50%;
    padding: 8px;
  
  }

  .hks_item_title{
    font-size: 22px;
  }

  .hks-select-options {
  font-size: 16px;
  padding: 7px 17px;
  
  }


}



@media (max-width: 769px) {
  

  .image_of_mobile {
      width: 100%;
      max-width: 300px;
      height:auto;
  }
  .hks-custom-wrap {

    max-width: 50%;
    padding: 8px;
  
  }

  .hks_item_title{
    font-size: 22px;
  }

  .hks-select-options {
  font-size: 16px;
  padding: 7px 17px;
  
  }


  .hks-custom-wrap {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    justify-content: center;
  }
  .product-info-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }

  .img-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .options_wrapper {
    padding: 0px 0px 0px 40px;
    border-left: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }







}




@media (max-width: 420px){

  h2.hks_device_heading {
    width: auto;
    padding: 0px 0px 0;
    font-size: 15px;
    font-weight: 700;

  }
  .hks-custom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .options_wrapper {
    padding: 0px 7px 0px 7px;
  }

}