  .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hks-custom-wrap {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    justify-content: space-between;
  }
  
  h2.hks_device_heading {
    width: auto;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.27px;
    display: flex;
  }

  
  .image-wrapper {
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .image_of_mobile {
    width: 100%;
    height: 300px;
    max-width: 300px; 
  }
  
  .options-wrapper {
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap;
  }
  .image_and_options{
      display: flex;
  }

  .hks_select_view{
    width: 100%;
  }

  .product-info-wrap{
    display: flex;
    justify-content: center;
  }


  .img-wrap{
    display: flex;
    width: 45%;
    justify-content: center;
  }

  .options_wrapper{
    padding: 0px 0px 0px 40px;
    border-left: 1px solid grey;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.hks-options{
  column-gap: 11px;
  display: flex;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hks-select-options{
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid #c9c9c9;
  padding: 10px 25px;
  font-weight: 600;
}

.hks_item_title{
   text-align: center;
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}